<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023907029518-r5pfnafpn2aajl1qhnepg2f4bjr1rdm6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023907029518-r5pfnafpn2aajl1qhnepg2f4bjr1rdm6</string>
	<key>API_KEY</key>
	<string>AIzaSyBP0g7SJIL4rMEjuqgFpL53Glo-lE1pTOU</string>
	<key>GCM_SENDER_ID</key>
	<string>1023907029518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RowanRhodes.ViperChitChat</string>
	<key>PROJECT_ID</key>
	<string>viperchitchat</string>
	<key>STORAGE_BUCKET</key>
	<string>viperchitchat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023907029518:ios:a3865cee10fc7340bbd25f</string>
	<key>DATABASE_URL</key>
	<string>https://viperchitchat.firebaseio.com</string>
</dict>
</plist>